/* RESET 
    html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a,
    font, img, dl, dt, dd, ol, ul, li, legend, table, tbody, tr, th, td 
    {margin:0px;padding:0px;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;list-style:none;}
    a img {border: none;}
    ol li {list-style: decimal outside;}
    fieldset {border:0;padding:0;}


/* style */
body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: #EFEFEF;
	font-family : verdana, helvetica;
	font-size: 13px;
}

/* dadk 18.05.2012 */
a {
	color: #33613d;
	text-decoration: none;
}
hr {
	color: #33613d;
}
ul {
	margin-top:0px;
	padding-top:0px;
}
/* dadk, 13.06.2012 */
h1, h2, h3, h4 {
	padding: 0px;
	margin: 0px;
	font-family : verdana, helvetica;
	margin-bottom: 0.2em;
	color: #4A4949;
}
h1 {
	color: #4A4949;
	margin: 0 0 22px 0;
	font-size: 1.4em;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
form {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
small {
	font-size: 70%;
}
form label {
	clear: left;
	float: left;
	width: 9em;
	padding-right: 1em;
	white-space: nowrap;
	cursor: pointer;
}

form span.input {
	width: 17em;
}

form input[type=text] {
	width: 18em;
	float: left;
}

form select {
	float: left;
}

form span.formComment {
	float: left;
	font-size: 80%;
	padding-top: 4px;
	white-space: nowrap;
}

/* dadk, 10.05 */
small.datoInterval {
	line-height:24px;
	float: left;
	display: block;
	margin-left: 10px;
	margin-right: 4px;
}
label.datoInterval {
	clear:none;
	margin-left:10px;
	width: auto;
}

/* extra styling */
a.gray {
	font-size: 11px;
	color: gray;
	text-decoration: none;
}
a.gray:visited {
	color: gray;
}

/* dadk 13.06.2012 */
select {
	height: 1.6em;
	border: 1px ridge silver;
}

/* dadk 27.06.2012 */
input[type=text], input[type=password], textarea {
	margin: 0px;
	padding: 3px;
	border:1px solid silver;
}

/* dadk 28.06.2012 */
hr.search {
	height: 1px;
	border: 0px;
	color: #33613d;
	background-color: #33613d;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
hr.pale {
	color: #ebebeb;
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
}
hr.white {
	color: white;
	background-color: white;
	border: 1px solid white;
}


/* dadk 29.06.2012 */
a img {
	outline : none;
	border:none;
}

/* dadk 03.07.2012 */
fieldset { 
	margin: 0px;
	padding: 16px;
	border:1px solid #33613d;
}
legend {
	color: #33613d;
}
fieldset.detail-left {
	width:600px;
	float:left;
	clear:none;
	text-align:left;
}
fieldset.detail-right {
	width:240px;	
	max-width:240px;
	float:left;
	overflow: hidden;
	margin-left:20px;
	clear: right;
}
fieldset.detail-wide { 
	margin-top:12px;
	float:left;
	clear:both;
	width:893px;
}
/* dadk 05.07.2012 */
a.fold-arrow {
	position:relative;
	left:-31px;
	top:-9px;
	background-color: #33613d;
	color: white;
	padding: 0px;
}
fieldset.fold-box {
	padding-top: 0px;
	padding-bottom: 0px;
	display:block;
	/* 25.06.2013 */
	width: 894px;
	float: left;
	clear: both;
}
/* dadk 08.07.2012 */
div.divider {
	float:left;
	display:block;
	width:100%;
	clear:both;
}
/* dadk 26.11.2012 */
.print-box {
	position: relative;
	float: none;
	clear: none;
	z-index: 66;
	padding: 5px;
	XXXborder: 1px solid #33613D;
}
.print-box-image {
	cursor: pointer;
}

/* alert from bootstrap.css */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/* flag-menu */
#flag-menu {
	height: 15px;
	XXpadding: 5px;
	XXborder: 1px solid #dadada; /*#ebebeb;*/
	width: 54px;
	background-color: rgba(255,255,255, 0.7);
	position: absolute;
	z-index: 1140;
}

