
td.rosa {
	background-color: #901A1E; /* #ED4E4E; /*#D04242; /*#EEA6A6;*/
	padding-right: 0px;
	margin-right: 0px;
	padding-left: 5px;
	color: white;
}

td.rosa-text {
	color: #ED4E4E; 
}


/* original values search box */
table.original {
	width:430px;
	float:left;
	clear:none;
	border-spacing:0px;
	margin-left:50px;
	margin-top:60px;
}

input.original-type {
	margin: 0px;
	vertical-align: top;
    vertical-align: bottom;
    position: relative;
	padding-right: 40px;
    top: -1px;
}
label.original-type {
	clear:none;
	padding-left:0px;
	padding-right:4px;
	width:auto;
	vertical-align:top;
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

/* 24.07.2013 simple view boxes */

table.digitInfoBox {
	border-spacing:0px;
	border:6px solid #901A1E;
	margin-top:50px;
	width:330px;
	margin-left:30px;
	float:none;
	clear:none;
}

/* 21.08.2013 */
#digit-typer-sample {
	width:430px;
	float:left;
	clear:none;
	border-spacing:0px;
	margin-left:50px;
	margin-top:10px;
	text-align: center;
	XXheight: 300px;
	XXoverflow: hidden;
	XXborder: 1px solid #ebebeb;
}

