/* stylesheet for PDF */
.rotate {
	text-align: center;
}
td.border {
	border: 1px solid #dadada;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 10px;
	width: 40px;
}
td.name {
	border-top : 1px solid #dadada;
	border-bottom : 1px solid #dadada;
}
