
#result-table td {
	vertical-align: top;
}
.visuallyhidden { 
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}
#result-table td a {
	text-decoration: none;
	color: black;
}
#result-table td a:hover {
	text-decoration: underline;
}

table.details td.caption {
	vertical-align: top;
	font-weight: bold;
	white-space: nowrap;
	min-width:120px;
}
table.details td.info {
	vertical-align: top;
	width: 200px;
	word-break: normal; /*break-all;*/
}

table.farvekoder td {
	vertical-align: top;
	font-size: 12px;
	margin-bottom: 4px;
}

fieldset.mapview {
	float: left;
	padding: 2px;
	width: 190px;
	margin-left: 10px;
	clear: none;
}

.utm-label {
	text-align: right;
	float: right;
}

span.date-space {
	float:left;
	clear:none;
	margin-left:10px;
	margin-right:10px;
	padding-top:5px;
}

/* primaraly for #lang */
a img {
	outline: none;
	border: none;
	vertical-align: bottom;
}

/* 2019 */
a.edderkopper-back {
	position: relative;
	font-size: 90%;
	top: 0px;
}
a.edderkopper-back:hover {
	color: #004D40;
}

input.edderkopper-show {
	vertical-align: text-top;
	cursor: pointer;
	position: relative;
	top: -1px;
}

label[for="kort"], label[for="tabel"] {
	margin-left: 1px;
	margin-right: 5px;
}

/* override wrong icon paths */
table.dataTable thead .sorting {
	background-image: url(../DataTables-1.10.18/images/sort_both.png);
}
table.dataTable thead .sorting_asc {
	background-image: url(../DataTables-1.10.18/images/sort_asc.png);
}
table.dataTable thead .sorting_desc {
	background-image: url(../DataTables-1.10.18/images/sort_desc.png);
}
table.dataTable thead th, table.dataTable thead td {
	padding-bottom: 2px;
	margin-top: 20px;
	padding-left: 4px;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #ccc;
}
table.dataTable.no-footer {
	border-bottom: 1px solid #ccc;
}
table.dataTable tbody th, table.dataTable tbody td {
	padding-left: 0px;
	padding-top: 0px;
}

