#top {
	position: relative;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	top:0px;
	width:984px;
	height:24px;
	padding-top: 11px;
	background-color: #fff;
	text-align: center;
}

#top a {
	font-family: 'helvetica neue', 'helvetica', 'verdana';
	color: #33613D;
	font-size: 14px;
	font-weight: bold;
}
#top span.active {
	font-family: 'helvetica neue', 'helvetica', 'verdana';
	color: green; /*gray;*/
	font-size: 14px;
	font-weight: bold;
}
#top span.separator {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	padding-top: 0px;
	top: -1px;
}

#top-cnt {
	background-color: #CCC;
	background-image: url(../ico/GreyDarkStriae.gif);
	border: 1px solid #dadada;
	position: relative;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	height: 90px;
}
#sitename-cnt {
	float: left;
	margin-left: 20px;
	clear: none;
	padding-top: 85px;
}
h1.sitename {
	display: inline;
	margin: 0px;
	padding: 0px;
	float: none;
	clear: none;
	font-weight: bold;
	color: gray;
	font-size: 40px;
	font-family: 'serif','courier new';
}	
#info {
	border: 1px solid #fff;
	top: -61px;
	float: right;
	clear: none;
	height: 90px;
	width: 150px;
	padding: 5px;
	margin: 15px;
	color: white;
	font-family: 'helvetica', 'arial';
}
#lang {
	float: right;
	clear:both;
}
/****/
#brand-KU {
	position: relative;
	top: 0px;
	width:250px;
	height:21px;
}
#page-body {
	position: relative;
	margin-left: 26px;
	margin-right: 26px;
	margin-top: 20px;
	text-align: left;
	overflow-y: visible;
}
#MainFrame {
	position:relative;
	margin: 0 auto 0 auto;
	top:0px;
	width:984px;
	min-height:800px;
	height:100%;
	border-width: 1px;
	border-style: solid;
	border-color: #CCC;
	border-bottom: 0px;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	font-family : verdana, arial, helvetica;
	overflow: auto;
	border-top:0px;
}


/*****/
#snm-top {
	position:absolute;
	left:470px;
	top:0px;
	width:514px;
	height:86px;
	background-image : url("../img/snm-top.jpg");	
}

#greenbar {
	position:absolute;
	left:0px;
	top:86px;
	width:980px;
	height:1px;
	background-color: #33613d;
}

#footer {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	top:-1px;
	width:984px;
	height:98px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	font-family : verdana, helvetica;
	font-size: 10px;
	line-height: 1.45em;
}
#footer-col-left {
	text-align: left;
	float:left;
	margin-left: 200px;
	color: gray;
}

#footer-col-right {
	text-align: right;
	float:left;
	margin-left: 185px;
	color: gray;
}
#footer address { 
	font-style: normal;
}

a {
	color: #33613D;
}
